
body {
	padding: 30px 0;
}

a {
    text-decoration: none;
	outline: none;
    color: inherit;
}
a:focus {
	outline: none;
}

.header-slick-nav,
.content {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;

}

ul.slick-nav-group {
    position: relative;

    display: flex;

    padding: 0 0 22px 0;

    border-bottom: 2px solid #E8E8E8;

    justify-content: space-around;
}
ul.slick-nav-group li:first-child {
  order: 1;
}
ul.slick-nav-group li:nth-child(2) {
  order:0;
}
ul.slick-nav-group li:nth-child(3){
  order: 2;
}

.content {
    margin-top: 40px;
}

.content-nav-group {
    position: relative;

    display: flex;
    flex-direction: row-reverse;
}

ul.content-nav-group li {
  position: relative;

  margin: 0px 5px 0 0px;
}

ul.content-nav-group li a {
    display: inline-block;

    padding: 10px 15px;

    opacity: .5;
}
ul.content-nav-group li a::before {
  	position: absolute;
  	z-index: -1;
  	top: 0; right: 0; bottom: 0; left: 0;

    content: ''; /* To generate the box */
  	transform: perspective(4px) rotateX(1deg);

    border-radius: 10px 10px 0 0;
  	background: rgba(232, 232, 232, 1);
}



.content-property {
    display: flex;

    padding: 22px;

    border-radius: 5px 0px 5px 5px;
    background: #E8E8E8;
}
.tabs-content-item {
    display: none;
}
.tabs-content-item-active {
    display: flex;
}
.content-active {
    display: block;
}
.opacity-tab-active {
  opacity: 1 !important;

}

.left-content {
    position: relative;

    width: 50%;
    margin: 0 22px 0 0;

    text-align: center;
}

.left-content h2 {
    margin: 0 0 22px 0;
}

.left-content-slider-img {
    width: 100%;
}

.right-content {
	width: 360px;
}
.right-content h2:after {
    display: block;

    width: 100%;
    height: 1px;
    margin: 11px 0 22px 0;

    content: '';

    background: #C4C4C4;
}
.description-group li {
    margin: 0 0 10px 0;
}

#magic-line {
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 100px;
    height: 6px;

    background: #7FBAFF;
}


/* new tabs */
.tabs {
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;
	padding: 0px;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;

	padding: 15px;

	border: 1px solid #ddd;
	background: #fff;
}
.tabs>section>p {
	margin: 0 0 5px;

	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	color: #383838;

	line-height: 1.5;

	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	position: absolute;

	display: none;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;

	margin: 0 0 -1px;
	padding: 15px 25px;

	text-align: center;

	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	border-radius: 3px 3px 0 0;
	background: #f1f1f1;

	font-weight: 600;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	margin-right: 10px;

	font-family: fontawesome;
	font-weight: normal;
}
.tabs>label[for*="1"]:before {
	content: "\f19a";
}
.tabs>label[for*="2"]:before {
	content: "\f17a";
}
.tabs>label[for*="3"]:before {
	content: "\f13b";
}
.tabs>label[for*="4"]:before {
	content: "\f13c";
}
/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
	cursor: pointer;

	color: #888;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;

		font-size: 18px;
	}
}
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}
